@import "normalize";
@import "typography";

* {
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: $root-font-size;
    font-family: $defaultFont;
    color: $font-color;
    height: 100vh;
}