
$main-color: #0b8f88;

$background-color: #790a17;
$body-background: #737172;

// font colors
$font-color: #5e5e5f;

$border-color: #8f8b8b;

// general colors
$white: #FFFFFF;
$black: #000000;
$grey: #4c4c4c;
$grey-medium: #b5b4b4;
$turquois: #51a6ae;

$input-bg: #f5f5f5;
$input-error: #a20000;

// gradient
$gradientRed: linear-gradient(to bottom, #a4192b 0%,#7a0918 100%);
$gradientGrey: linear-gradient(to bottom, #6e6a67 0%,#3c3636 100%);
$gradientFooter: linear-gradient(to right, #0b8f88 0%,#11d691 25%,#3d6307 50%,#11d691 75%,#0b8f88 100%);
$gradientFooter: linear-gradient(to right, #0b8f88 0%,#11d691 25%,#3d6307 50%,#11d691 75%,#0b8f88 100%);
$gradientMenu: linear-gradient(180deg, #0b8f88, #11d691, #25d4a4, #11d691, #0b8f88 );